
.products-table__container {
  background: var(--app-white);
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  width: 100%;
}

.table-header .table-header__item {
  text-align: left;
  background: var(--app-header-table);
  padding: var(--app-padding-field-h);
}

.table-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.table-footer .table-fotter__total {
  font-weight: 500;
}
