<div class="products-table__container">
  <table>
    <thead class="table-header">
      <th class="table-header__item">Logo</th>
      <th class="table-header__item">Nombre de producto</th>
      <th class="table-header__item">Descripción</th>
      <th class="table-header__item">Fecha de liberación</th>
      <th class="table-header__item">Fecha de restructuración</th>
      <th class="table-header__item"></th>
    </thead>
    <tbody class="table-body">
      <app-item-table-products *ngFor="let index of [1,2,3]"></app-item-table-products>
    </tbody>
  </table>

  <div class="table-footer">
    <p class="table-fotter__total">15 Resultados</p>
    <div>
      <select>
        <option value="5">5</option>
        <option value="5">10</option>
        <option value="5">25</option>
        <option value="5">50</option>
        <option value="5">100</option>
      </select>
    </div>
  </div>
</div>
