<div class="products-table__container">
  <table>
    <thead class="table-header">
      <th class="table-header__item">Logo</th>
      <th class="table-header__item">Nombre de producto</th>
      <th class="table-header__item">Descripción</th>
      <th class="table-header__item">Fecha de liberación</th>
      <th class="table-header__item">Fecha de restructuración</th>
      <th class="table-header__item"></th>
    </thead>
    <tbody thead class="table-body">
      <tr thead class="table-body-row">
        <td class="table-body-row__field">
          <p class="field__logo">JG</p>
        </td>
        <td class="table-body-row__field">Platanos</td>
        <td class="table-body-row__field">Los mejores de todo mexico</td>
        <td class="table-body-row__field">18 de julio</td>
        <td class="table-body-row__field">18 de julio 2024</td>
        <td class="table-body-row__field">
          <button class="field__button">
            <img class="field__button-icon" src="/assets/images/icons/icon-option.svg" />
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="table-footer">
    <p class="table-fotter__total">15 Resultados</p>
    <div>
      <select>
        <option value="5">5</option>
        <option value="5">10</option>
        <option value="5">25</option>
        <option value="5">50</option>
        <option value="5">100</option>
      </select>
    </div>
  </div>
</div>
