
.products-table__container {
  background: var(--app-white);
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table-header {
  width: 100%;
}

.table-header .table-header__item {
  text-align: left;
  background: var(--app-header-table);
  padding: var(--app-padding-field-h);
}

.table-body-row .table-body-row__field {
  text-align: left;
  padding: var(--app-padding-field-b);
  border-bottom: 1px solid var(--app-table-borders);
}

.table-body-row .table-body-row__field .field__logo {
  width: 35px;
  height: 35px;
  display: flex;
  font-weight: bold;
  align-items: center;
  border-radius: 100%;
  color: var(--app-white);
  justify-content: center;
  background: var(--app-gray);
}

.table-body-row .field__button {
  padding: 5px;
  width: 30px;
  border-radius: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.table-body-row .field__button:hover {
  background: #fafafa;
}

.table-body-row .field__button-icon {
  width: 15px;
  height: 15px;
}

.table-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.table-footer .table-fotter__total {
  font-weight: 500;
}
