<div class="products-table__container">
  <table>
    <thead class="table-header">
      <th class="table-header__item">Logo</th>
      <th class="table-header__item">Nombre de producto</th>
      <th class="table-header__item">Descripción</th>
      <th class="table-header__item">Fecha de liberación</th>
      <th class="table-header__item">Fecha de restructuración</th>
      <th class="table-header__item"></th>
    </thead>
    <tbody class="table-body">
      <app-item-table-products *ngFor="let product of productService.products" [product]="product"></app-item-table-products>
    </tbody>
  </table>

  <div class="table-footer">
    <p class="table-fotter__total">{{ productService.products.length }} Resultados</p>
    <div>
      <select [value]="productService.limit" (change)="selectedLimit($event)">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
  </div>
</div>
