
.table-body-row .table-body-row__field {
  text-align: left;
  padding: var(--app-padding-field-b);
  border-bottom: 1px solid var(--app-table-borders);
  vertical-align: middle;
}

.table-body-row .table-body-row__field figure {
  width: 35px;
  height: 35px;
  margin: 0px;
}

.table-body-row .table-body-row__field .field__logo {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  justify-content: center;
  background: var(--app-gray);
  object-fit: cover;
}

.table-body-row .field__button {
  position: relative;
  padding: 5px;
  width: 30px;
  border-radius: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.table-body-row .field__button:hover {
  background: #fafafa;
}

.table-body-row .field__button-icon  {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.table-body-row .field__button-icon {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.field__container {
  position: relative;
}

.field__options {
  position: absolute;
  z-index: 1;
  bottom: -70px;
  left: 0px;
  background: #FFFFFF;
  border: 1px solid #eaeaea;
}

.field__options ul  {
  width: 100px;
  list-style: none;
}

.field__options ul li button {
  padding: 8px 10px;
  display: block;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 13px;
}

.field__options ul li a {
  padding: 8px 10px;
  display: block;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  font-size: 13px;
}

.field__options ul li:hover {
  background: #fafafa;
}

:host {
  display: contents;
}