<tr class="table-body-row">
  <td class="table-body-row__field">
    <img class="field__logo" [src]="product?.logo" />
  </td>
  <td class="table-body-row__field">{{ product?.name }}</td>
  <td class="table-body-row__field">{{ product?.description }}</td>
  <td class="table-body-row__field">{{ product?.date_release | date }}</td>
  <td class="table-body-row__field">{{ product?.date_revision | date }}</td>
  <td class="table-body-row__field">
    <div class="field__container">
      <img (click)="toggleMenu()" class="field__button-icon" src="/assets/images/icons/icon-option.svg" />
      <div class="field__options" *ngIf="showOptions">
        <ul>
          <li>
            <a routerLink="edit/1">Editar</a>
          </li>
          <li>
            <button>Eliminar</button>
          </li>
        </ul>
      </div>
    </div>
  </td>
</tr>