@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700&display=swap");

:root {
  --app-white: #ffffff;
  --app-primary: #f8de4d;
  --app-primary-hover: #ffd900;
  --app-gray: #cacddd;

  --app-error: #d33232;

  --app-header-table: #e8ecf0;
  --app-background: #f5f6fa;
  --app-letters: #0e0d10;
  --app-borders: #cbcbcb;
  --app-table-borders: #ebebeb;

  --app-button-padding: 15px;

  --app-padding-field-h: 15px 20px;
  --app-padding-field-b: 15px 20px;

  --app-input-height: 40px;
  --app-header-height: 65px;
  --app-input-padding: 2px 10px;

  --app-wrapper: 1450px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

input {
  outline: none;
}

body {
  background: var(--app-background);
}

.wrapper {
  margin: auto;
  width: var(--app-wrapper);
}

@media (max-width: 1450px) {
  .wrapper {
    width: 85%;
  }
}